node_modules/
.git/
.gitignore
.gitmodules
.gitattributes
dist/
.env
.env.local
docker-compose.override.yml
.env.test
.env.production
database.env
production.env
development.env
coverage/
logs/
*.log
*.tsbuildinfo